/* | Import Tailwindcss and Daisyui Styling */
@import 'tailwindcss';

@plugin "daisyui";

/* ` Configure tailwindcss base */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
}

.drawerLeft {
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
}

.drawerRight {
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
}
